header {
  background-color: navy;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 1rem;
  font-family: 'Carter One', cursive;
}

ul#menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

#menu li {
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  margin-right: 1em;
  border-radius: 10px;
}

#menu li:hover {
  background-color: white;
  color: navy;
}